body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
form {
  display: inline-block;
  text-align: left;
  border: 2px solid rgb(124, 19, 145);
  padding: 20px;
  border-radius: 5px;
}
h3 {
  font-size: 60px;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}
